.DS_Store

# Virtual Env
.venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.vscode

# SAM
.aws-sam
packaged.yaml
samconfig.toml
build/
*.zip
events/*
!events/sample-event.json