.DS_Store

# Virtual Env
.venv
.python-version

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.vscode
*.csv
!tests/fixtures/sample_users.csv
!tests/fixtures/sample_events.csv
!tests/fixtures/sample_purchases.csv
!tests/fixtures/sample_identifier_users.csv
!tests/fixtures/sample_identifier_events.csv
!tests/fixtures/sample_identifier_purchases.csv

# SAM
.aws-sam
packaged.yaml
samconfig.toml
build/
*.zip
events/*
!events/sample-event.json
env.json
